name: Tests
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  exercises:
    name: Check exercises
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022]
        dc: [dmd-2.109.0, ldc-1.38.0]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - uses: dlang-community/setup-dlang@0a7469b93f791d83f30932c6fd105796c6966e20
        with:
          compiler: ${{ matrix.dc }}
      - name: Run tests
        run: bin/test-all-exercises
